<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

     <div class="container-fluid">
    <div class="row">
      <div>
        <form class="form-signin" action="/AdminLogin" method="GET">
          <h2 class="form-signin-heading">Please sign in</h2>
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="user">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" id="pwd" name="password">
            
          <button id="submitlogin" type="submit" class="btn btn-default">Sign In</button>
        </form>
      </div>
      </div>
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>