<!-- Author 
    Name: Pawan Araballi -->
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <% include ../partials/headhomepage %>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <title>Dashboard</title>
        <script type="text/javascript">
            $(document).ready(function(){
                var tabledata = "";
                var feeddata = [];
                var malefeed20 = [];
                var malefeed40 = [];
                var malefeed60 = [];
                var malefeed80 = [];
                var malefeed100 = [];
                var femalefeed = [];
                var malecount20 = 0;
                var malecount40 = 0;
                var malecount60 = 0;
                var malecount80 = 0;
                var malecount100 = 0;
                var femalecount20 = 0;
                var femalecount40 = 0;
                var femalecount60 = 0;
                var femalecount80 = 0;
                var femalecount100 = 0;
                $.ajax({
                    url: '/allpatients',
                    method: 'GET',
                    dataType: 'json',
                    success: function(data){
                        tabledata = data.data;
                        feeddata = [];
                    //Iterating through all the objects to store the Gender Data
                    $.each(tabledata, function(i, obj) {
                        feeddata.push([obj.username, obj.name, obj.gender, obj.age]);
                        if(obj.gender == "Male" && obj.age < 20){
                            //malefeed20.push([obj.age]);
                            malecount20++;
                        }else if (obj.gender == "Male" && obj.age >= 21 && obj.age <=40){
                            //malefeed40.push([obj.age]);
                            malefeed40++;
                        }else if (obj.gender == "Male" && obj.age >= 41 && obj.age <=60){
                            //malefeed40.push([obj.age]);
                            malefeed60++;
                        }else if (obj.gender == "Male" && obj.age >= 61 && obj.age <=80){
                            //malefeed40.push([obj.age]);
                            malefeed80++;
                        }else if (obj.gender == "Male" && obj.age >= 81 && obj.age <=100){
                            //malefeed40.push([obj.age]);
                            malefeed100++;
                        }

                        if(obj.gender == "Female" && obj.age < 20){
                            //Femalefeed20.push([obj.age]);
                            femalecount20++;
                        }else if (obj.gender == "Female" && obj.age >= 21 && obj.age <=40){
                            //Femalefeed40.push([obj.age]);
                            femalecount40++;
                        }else if (obj.gender == "Female" && obj.age >= 41 && obj.age <=60){
                            //Femalefeed40.push([obj.age]);
                            femalecount60++;
                        }else if (obj.gender == "Female" && obj.age >= 61 && obj.age <=80){
                            //Femalefeed40.push([obj.age]);
                            femalecount80++;
                        }else if (obj.gender == "Female" && obj.age >= 81 && obj.age <=100){
                            //Femalefeed40.push([obj.age]);
                            femalecount100++;
                        }
                    });
                    // Initializing the Data Tables to embed the dynamic data
                    $('#datatables').DataTable({
                        data: data.data,
                        columns: [
                        {'data' : 'username'},              
                        {'data' : 'passw'},              
                        {'data' : 'name'},              
                        {'data' : 'gender'},              
                        {'data' : 'age'},
                        {'data' : 'username',"render": function (data, type, full, meta) { return '<a href="display_patient_response?id='+data+'" >View Report</a>'; }},
                        {'data' : 'username',"render": function (data, type, full, meta) { return '<a href="checkin?id='+data+'" >Check In</a>'; }}
                        ],
                        buttons: [
                        'excel'
                        ]
                    });

                    //Making each row clickable
/*                  $('body').on('click', '#datatables tbody tr', function () {
                        var data = $( this ).data();
                        console.log(data[0]);
                        alert( 'You clicked on '+data[0]+'\'s row' );
                    });*/

/*                  $('#datatables tbody').on('click', 'tr', function () {
                        var row = $(this);
                        var data = row.data();
                        alert( 'You clicked on '+data[0]+'\'s row' );
                    } );*/

                    // Plotting of Pie charts using Highcharts
                    $(function () {
                        $('#chart_div').highcharts({
                            chart: {
                                type: 'bar'
                            },
                            title: {
                                text: 'Age Graph'
                            },
                            xAxis: {
                                categories: ['20', '40', '60', '80', '100'],
                                title: {
                                    text: null
                                }
                            },
                            yAxis: {
                                min: 0,
                                title: {
                                    text: 'Age Count',
                                    align: 'high'
                                },
                                labels: {
                                    overflow: 'justify'
                                }
                            },
                            tooltip: {
                                valueSuffix: ' counts'
                            },
                            plotOptions: {
                                bar: {
                                    dataLabels: {
                                        enabled: true
                                    }
                                }
                            },
                            legend: {
                                layout: 'vertical',
                                align: 'right',
                                verticalAlign: 'top',
                                x: -40,
                                y: 80,
                                floating: true,
                                borderWidth: 1,
                                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                                shadow: true
                            },
                            credits: {
                                enabled: false
                            },
                            series: [{
                                name: 'Male',
                                data: [malecount20, malecount40, malecount60, malecount80, malecount100]
                            }, {
                                name: 'Female',
                                data: [femalecount20, femalecount40, femalecount60, femalecount80, femalecount100]
                            }]
                        });
                    });
                }
            });
});
</script>
</head>
<body class="container">

    <header>
        <% include ../partials/headerdashboard %>
    </header>

    <div class="container-fluid">
        <div class="row">
<!--       <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active">
            <a href="#">
              Overview
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="#">Reports</a>
          </li>
          <li>
            <a href="#">Analytics</a>
          </li>
          <li>
            <a href="#">Export</a>
          </li>
        </ul>
    </div> -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard</h1>
        <div id="chart_div" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
<!--        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder thumbnail" width="200" height="200">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder thumbnail" width="200" height="200">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder thumbnail" width="200" height="200">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img class="img-responsive" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder thumbnail" width="200" height="200">
                <h4>Label</h4>
                <span class="text-muted">Something else</span>
            </div>
        </div> -->
        <h2 class="sub-header">The Patients Details</h2>
        <div class="table-responsive">
            <table id="datatables" class="row-border hover">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Age</th>
                        <th>View Report</th>
                        <th>Check In</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</div>
<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>