<meta charset="UTF-8">
<title>Survey Project</title>

<!-- CSS (load bootstrap from a CDN) -->
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='/stylesheets/bootstrap.css'>
<link rel="stylesheet" href='/stylesheets/style.css'>
<link rel="stylesheet" href='/stylesheets/main.css'>

